<%- include('../layouts/header'); -%>
    <link href="/css/add_editpage.css" rel="stylesheet">
    </head>

    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <main>
        <h1 id="createSchedule">Change Schedule</h1>
        <form name="Schedule" method="post" action="/schedule/edit/<%= schedule.id %>" class="scheduleForm">
            <div class="textboxes">
                <label class="scheduleLable">Employee Name: </label>
                <select name="eName" id="eName" class="scheduleTextboxes select">
                    <option value="<%= schedule.employeeName %>">
                        <%= schedule.employeeName %>
                    </option>
                    <option value='---Select Employee---'>----------------------------</option>
                    <% for(var employee of employees){ %>
                        <% var name=employee.name%>
                            <option value="<%= name %>">
                                <%= name %>
                            </option>
                            <% }%>
                </select>

                <label class="scheduleLable">Day: </label>
                <select name="sDay" id="sDay" class="scheduleTextboxes select">
                    <option value="<%= schedule.day %>">
                        <%= schedule.day %>
                    </option>
                    <option value='---Select Day---'>----------------------------</option>
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>

                <label class="scheduleLable">Start Time: </label>
                <select name="startTime" id="startTime" class="scheduleTextboxes select">
                    <option value="<%= schedule.startTime %>">
                        <%= schedule.startTime %>
                    </option>
                        <option value='---Start Time---'>----------------------------</option>
                        <% for(var i=0; i < 12; i++) {%>
                            <option value="<%= i %> AM">
                                <%= i %> AM
                            </option>
                            <% } %>
                                <% for(var j=12; j < 24; j++) {%>
                                    <option value="<%= j %> PM">
                                        <%= j %> PM
                                    </option>
                                    <% } %>
                    </select>

                <label class="scheduleLable">End Time: </label>
                <select name="endTime" id="endTime" class="scheduleTextboxes select">
                    <option value="<%= schedule.endTime %>">
                        <%= schedule.endTime %>
                    </option>
                    <option value='---End Time---'>----------------------------</option>
                    <% for(var i=0; i < 12; i++) {%>
                        <option value="<%= i %> AM">
                            <%= i %> AM
                         </option>
                            <% } %>
                                <% for(var j=12; j < 24; j++) {%>
                                    <option value="<%= j %> PM">
                                        <%= j %> PM
                                    </option>
                                    <% } %>
                    </select>
                </div>
                <div class="buttons">
                    <button class="btnSubmit" id="submit"> Submit </button>

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/schedule" id="cancel" class="btnCancel">Cancel </a>
                </div>

            </form>
            <section class="errors">
                <% if(typeof(errors) !='undefined' ){ %>
                    <div style="border-radius: 0 25px 0 25px;">
                        <h4 style="text-decoration: underline;">Errors</h4>
                        <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                            <p style="color:maroon; text-align: left;">
                                * <%= error.msg %>
                            </p>
                            <% } } %>
                    </div>
                    <% } %>
            </section>
        </main>
        <%- include('../layouts/footer'); -%>
