<%- include('../layouts/header'); -%>

    <link href="/css/editEmployee.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <h1 id="editEmployee">Edit Employee Details</h1>
        <form name="Employee" method="post" action="">
            <div class="textboxes">
                <label>Name: </label>
                <input id="firstname" placeholder="First name" type="text" name="name" class="space"
                    value="<%= employee.name %>"><br />

                <label>Email: </label>
                <input id="email" placeholder="email@domain.com" type="email" name="email" class="space"
                    value="<%= employee.email %>"><br />

                <label>Phone: </label>
                <input id="phone" placeholder="123-123-1234" type="phone" name="phone" class="space"
                    value="<%= employee.phone %>"><br />

                <label>Address: </label>
                <input id="address" type="address" name="address" class="space" value="<%= employee.address %>"><br />
                <label>Post Code: </label>
                <input id="postcode" placeholder="X9X 9X9" type="postcode" name="postcode" class="space"
                    value="<%= employee.postcode %>"><br />

                <label>Position: </label>
                <input id="position" type="text" name="position" class="space" value="<%= employee.position %>"><br />

                <label>Payrate: </label>
                <input id="payrate" type="number" name="payrate" class="space" value="<%= employee.payrate %>"><br />

                <p id="errors"></p>

            </div>
            <div class="buttons">
                <button class="btnSubmit" id="submit"> Submit </button>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" id="cancel" class="btnCancel">Cancel </a>
            </div>

        </form>
        <%- include('../layouts/footer'); -%>