<%- include('../layouts/header'); -%>

    <link href="/css/add_editpage.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <main>
            <h1 id="addEmployee">Edit Employee Details</h1>
            <form name="Employee" method="post" action="/edit/<%= employee.id %>" class="employeeForm">

                <label class="employeeLable">Name: </label>
                <input id="fullname" placeholder="Full-name" type="text" name="fullname" class="employeeTextboxes"
                    value="<%= employee.name %>"><br />

                <label class="employeeLable">Email: </label>
                <input id="email" placeholder="email@domain.com" type="email" name="email" class="employeeTextboxes"
                    value="<%= employee.email %>"><br />

                <label class="employeeLable">Phone: </label>
                <input id="phone" placeholder="1231231234" type="phone" name="phone" class="employeeTextboxes"
                    value="<%= employee.phone %>"><br />

                <label class="employeeLable">Address: </label>
                <input id="address" type="address" name="address" class="employeeTextboxes" value="<%= employee.address %>"><br />
                
                <label  class="employeeLable">Post Code: </label>
                <input id="postcode" placeholder="X9X 9X9" type="postcode" name="postcode" class="employeeTextboxes"
                    value="<%= employee.postcode %>"><br />

                <label class="employeeLable">Position: </label>
                <input id="position" type="text" name="position" class="employeeTextboxes" value="<%= employee.position %>"><br />

                <label class="employeeLable">Payrate: </label>
                <input id="payrate" type="number" name="payrate" class="employeeTextboxes" value="<%= employee.payrate %>"><br />

            </div>
            <div class="buttons">
                <button class="btnSubmit" type="submit" id="submit"> Submit </button>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" id="cancel" class="btnCancel">Cancel </a>
            </div>
        </form>
        <section class="errors">
            <% if(typeof(errors) !='undefined' ){ %>
                <div style="border-radius: 0 25px 0 25px;">
                    <h4 style="text-decoration: underline;">Errors</h4>
                    <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                        <p style="color:maroon; text-align: left;">
                            * <%= error.msg %>
                        </p>
                        <% } } %>         
                    </div>
                    <% } %>
            </section>
        </main>
        <%- include('../layouts/footer'); -%>