<%- include('layouts/header'); -%>
  <main>
    <h1>Add Employee Details</h1>
    <form name="Employee" method="post" onsubmit="return detailSubmit();" action="">
      <div class="textboxes">
        <label>First Name: </label>
        <input id="firstname" placeholder="First name" type="text" name="firstname" class="space"><br />

        <label>Last Name: </label>
        <input id="lastname" placeholder="Last name" type="text" name="lastname" class="space"><br />

        <label>Email: </label>
        <input id="email" placeholder="email@domain.com" type="email" name="email" class="space"><br />

        <label>Phone: </label>
        <input id="phone" placeholder="123-123-1234" type="phone" name="phone" class="space"><br />

        <label>Address: </label>
        <input id="address" type="address" name="address" class="space"><br />
        <label>Post Code: </label>
        <input id="postcode" placeholder="X9X 9X9" type="postcode" name="postcode" class="space"><br />

        <label>Position: </label>
        <input id="position" type="text" name="position" class="space"><br />

        <label>Payrate: </label>
        <input id="payrate" type="number" name="payrate" class="space"> per hour<br />

        <p id="errors">Error massege zdhasodifhalsdkfgbdslifbdhb</p>

      </div>
      <div class="buttons">
        <button class="btnSubmit" id="submit"> Submit </button>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" id="cancel" class="btnCancel">Cancel </a>
      </div>

    </form>
    <section>
      <% if(typeof(payrate) !='undefined' ){ %>
        <h2>Employee Data</h2>
        <table>
          <tr>
            <th>Name: </th>
            <td>
              <%= name %>
            </td>
          </tr>
          <tr>
            <th>Email: </th>
            <td>
              <%= email %>
            </td>
          </tr>
          <tr>
            <th>Phone: </th>
            <td>
              <%= phone %>
            </td>
          </tr>
          <tr>
            <th>Address: </th>
            <td>
              <%= address %>
            </td>
          </tr>
          <tr>
            <th>Postcode: </th>
            <td>
              <%= postcode %>
            </td>
          </tr>
          <tr>
            <th>Position: </th>
            <td>
              <%= position %>
            </td>
          </tr>
          <tr>
            <th>Payrate: </th>
            <td>
              <%= payrate %>
            </td>
          </tr>
        </table>
        <% } %>
    </section>
  </main>
  <%- include('layouts/footer'); -%>