<%- include('layouts/header'); -%>

    <link href="/css/table.css" rel="stylesheet">
    <script src="/js/confirmation.js" type="text/javascript" defer></script>
    </head>

    <body>
        <% if(typeof(message) !='undefined' ){ %>
            <a href="/userProfile">
                <div class="userIcon">
                    <img src="../../images/user.png" alt="User name Icon">
                    <h4>
                        <%= locals.admin ? admin: "Admin" %>
                    </h4>

                </div>
            </a>
            <header>
                <h2>Employee Management System</h2>
            </header>
            <%- include('layouts/navigation'); -%>
                <main>

                    <div class="messages">
                        <% if(locals.message){ %>
                            <%= message%>
                                <% }%>
                                    <% } %>
                    </div>
                    <h1 id="employeeDetails">Employees</h1>
                    <div class="btn">
                        <a href="/addEmployee">
                            <button class="btn">Add Employee</button>
                        </a>
                    </div>
                    <div class="table">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Postal Code</th>
                                    <th>Position</th>
                                    <th>Payrate</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for(var employee of employees){ %>
                                    <tr>
                                        <td>
                                            <a href="/employeeDetail/<%= employee._id %>" class="link">
                                                <%= employee.name %>
                                            </a>
                                        </td>
                                        <td>
                                            <%= employee.email %>
                                        </td>
                                        <td>
                                            <%= employee.phone %>
                                        </td>
                                        <td>
                                            <%= employee.address %>
                                        </td>
                                        <td>
                                            <%= employee.postcode %>
                                        </td>
                                        <td>
                                            <%= employee.position %>
                                        </td>
                                        <td>
                                            <%= employee.payrate %>
                                        </td>
                                        <td>
                                            <div class="buttons">
                                                <a class="editButton" href="/edit/<%= employee._id %>">Edit</a>
                                                <a class="deleteButton" id="changeLink"
                                                    href="/delete/<%= employee._id %>">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </main>
                <%- include('layouts/footer'); -%>