<%- include('layouts/header'); -%>

    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/login.js" type="text/javascript" defer></script>
    </head>

    <body>
        <!-- <header>
            <h2>Employee Management System</h2>
        </header> -->
        <main>
            <div class="loginBody">
                <% if(locals.logout){%>
                    <%= logout %>
                        <% } %>
                            <div class="container">
                                <div class="message signup">
                                    <div class="btn-wrapper">
                                        <button class="buttonSignup" id="signup">Sign Up</button>
                                        <button class="button " id="login"> Login</button>
                                    </div>
                                </div>
                                <div class="form form--signup">
                                    <div class="form--heading">Welcome! Sign Up</div>
                                    <form autocomplete="off" class="loginForm" method="post" action="">
                                        <input type="text" placeholder="Name" name="newUsername">
                                        <input type="email" placeholder="Email" name="newEmail">
                                        <input type="password" placeholder="Password" name="newPassword">
                                        <button type="submit" id="signup" class="button" name="signupBtn" formaction="signup">Sign
                                            Up</button>

                                        <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                                            <p>
                                                <%= error.msg %>
                                            </p>
                                            <% } } %>
                                                <% if(locals.loginError){ %>
                                                    <div>
                                                        <%= loginError%>
                                                    </div>
                                                    <% } %>
                                    </form>
                                </div>
                                <div class="form form--login">
                                    <div class="form--heading">Welcome back! </div>
                                    <form autocomplete="off" class="loginForm" method="post" action="">
                                        <input type="text" placeholder="Name" name="username">
                                        <input type="password" placeholder="Password" name="password">
                                        <button type="submit" class="button" name="loginBtn"
                                           id="login" formaction="login">Login</button>
                                    </form>
                                </div>

                            </div>
            </div>
        </main>
        <!-- <%- include('layouts/footer'); -%> -->