<%- include('layouts/header'); -%>

    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/login.js" type="text/javascript" defer></script>
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <main>
            <div class="loginBody">
                <% if(typeof(message) !='undefined' ){ %>
                    <div class="logoutMessage">
                        <% if(locals.message){%>
                            <%= message %>
                                <% } %>
                    </div>
                    <% } %>
                        <div class="container">
                            <div class="message signup">
                                <div class="btn-wrapper">
                                    <button class="buttonSignup" id="signup">Sign Up</button>
                                    <button class="button " id="login"> Login</button>
                                </div>
                            </div>
                            <div class="form form--signup">
                                <div class="form--heading">Welcome! Sign Up</div>
                                <form autocomplete="off" class="loginForm" method="post" action="/signup">
                                    <input autocomplete="false" type="text" placeholder="User Name" name="newUsername">
                                    <input autocomplete="false" type="email" placeholder="Email" name="newEmail">
                                    <input autocomplete="new-password" type="password" placeholder="Password"
                                        name="newPassword">
                                    <button type="submit" id="signup" class="button" name="signupBtn"
                                        formaction="signup">Sign
                                        Up</button>

                                    <% if(typeof(errors) !='undefined' ){ %>
                                        <div class="signupError">
                                            <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                                                <p>
                                                    <%= error.msg %>
                                                </p>
                                                <% } } %>
                                        </div>
                                        <% } %>
                                            <% if(locals.loginError){ %>
                                                <div class="loginError">
                                                    <%= loginError%>
                                                </div>
                                                <% } %>
                                                    <img src="../../images/logo.png" alt="PRT LOGO">
                                </form>
                            </div>
                            <div class="form form--login">
                                <div class="form--heading">Welcome back! </div>
                                <form autocomplete="off" class="loginForm" method="post" action="/login">
                                    <input autocomplete="false" type="text" placeholder="Name" name="username">
                                    <input autocomplete="new-password" type="password" placeholder="Password"
                                        name="password">
                                    <a href="/verifyEmail">Forget Password ??</a>
                                    <button type="submit" class="button" name="loginBtn" id="login"
                                        formaction="login">Login</button>
                                </form>
                                <img src="../../images/logo.png" alt="PRT LOGO">
                            </div>
                        </div>
            </div>
        </main>
        <%- include('layouts/footer'); -%>