<%- include('../layouts/header'); -%>

  <link href="/css/editedDetailsPage.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <main>
      <% if(typeof(takeHome) !='undefined' ){ %>
        <h2 class="paystubDisplay">Your Paystub is here!!</h2>
        <table>
          <tr>
            <th>Name: </th>
            <td>
              <%= employeeName %>
            </td>
          </tr>
          <tr>
            <th>Date: </th>
            <td>
              <%= date %>
            </td>
          </tr>
          <tr>
            <th>Week-Hours: </th>
            <td>
              <%= weeklyHours %>
            </td>
          </tr>
          <tr>
            <th>Pay Rate: </th>
            <td>
              $<%= payrate %>
            </td>
          </tr>
          <tr>
            <th>Gross Pay: </th>
            <td>
              $<%= grossPay.toFixed(2) %>
            </td>
          </tr>
          <tr>
            <th>CPP: </th>
            <td>
              $<%= cpp.toFixed(2) %>
            </td>
          </tr>
          <tr>
            <th>EI: </th>
            <td>
              $<%= ei.toFixed(2) %>
            </td>
          </tr>
          <tr>
            <th>Provincial Tax: </th>
            <td>
              $<%= provincialTaxes.toFixed(2) %>
            </td>
          </tr>
          <tr>
            <th>Federal Tax: </th>
            <td>
              $<%= federalTaxes.toFixed(2) %>
            </td>
          </tr>
          <tr>
            <th>Net Pay: </th>
            <td>
              $ <%= takeHome.toFixed(2) %>
            </td>
          </tr>
          <tr>
            <th>
              <a href="/paystub" class="buttonPaystub">Go back to Main</a>
            </th>
          </tr>
        </table>
        <% } %>
    </main>
    <%- include('../layouts/footer'); -%>