<%- include('../layouts/header'); -%>
  <link href="/css/editedDetailsPage.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <main>
      <h2 class="paystubDisplay">Your Paystub is here!!</h2>
      <div class="cardPaystub">
        <table class="table">
          <tr>
            <th>Name: </th>
            <td>
              <%= paystub.employeeName %>
            </td>
          </tr>
          <tr>
            <th>Week-Hours: </th>
            <td>
              <%= paystub.weeklyHours %>
            </td>
          </tr>
          <tr>
            <th>Date: </th>
            <td>
              <%= paystub.date %>
          </tr>
          <tr>
            <th>Email: </th>
            <td>
              <%= paystub.email %>
            </td>
          </tr>
          <tr>
            <th>Pay Rate: </th>
            <td>
              <%= paystub.payrate %>
            </td>
          </tr>
          <tr>
            <th>Gross Pay: </th>
            <td>
              <%= paystub.grossPay %>
            </td>
          </tr>
          <tr>
            <th>CPP: </th>
            <td>
              <%= paystub.cpp %>
            </td>
          </tr>
          <tr>
            <th>EI: </th>
            <td>
              <%= paystub.ei %>
            </td>
          </tr>
          <tr>
            <th>Provincial Tax: </th>
            <td>
              <%= paystub.provincialTaxes %>
            </td>
          </tr>
          <tr>
            <th>Federal Tax: </th>
            <td>
              <%= paystub.federalTaxes %>
            </td>
          </tr>
          <tr>
            <th>Net Pay: </th>
            <td>
              <%= paystub.takeHome %>
            </td>
          </tr>
        </table>
        <div>
          <a href="/paystub/paystubPrint/<%= paystub._id %>">
            <button class="editButton"> Download PDF</button></a>
        </div>
        <div>
          <a href="/paystub">
            <button class="button"> Go back to Main</button></a>
        </div>
      </div>
    </main>
    <%- include('../layouts/footer'); -%>