<%- include('../layouts/header'); -%>
    <link href="/css/table.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="userIcon">
                <img src="../../images/user.png" alt="User name Icon">
                <h4>
                    <%= locals.admin ? admin: "Admin" %>
                </h4>
            </div>
            <h2>Employee Management System</h2>
        </header>
        <%- include('../layouts/navigation'); -%>
            <main>
                <% if(typeof(message) !='undefined' ){ %>
                    <div class="messages">
                        <% if(locals.message){ %>
                            <%= message%>
                                <% }%>
                                    <% } %>
                    </div>
                    <div class="btn">
                        <a href="/paystub/generatePaystub">
                            <button class="btn">Generate Pay Stub</button>
                        </a>
                    </div>
                    <h1 id="employeeDetails">PayStub</h1>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Weekly hours</th>
                                <th>Payrate</th>
                                <th>Gross Pay</th>
                                <th>CPP</th>
                                <th>EI</th>
                                <th>Provincial Tax</th>
                                <th>Federal Tax</th>
                                <th>Net Pay</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var paystub of paystubs){ %>
                                <tr>
                                    <td>
                                        <a href="/paystub/paystubInfo/<%= paystub._id %>" class="link">
                                            <p>
                                                <%= paystub.employeeName %>
                                            </p>
                                        </a>
                                    </td>
                                    <td>
                                        <p>
                                            <%= paystub.weeklyHours %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.payrate %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.grossPay %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.cpp %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.ei %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.provincialTaxes %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.federalTaxes %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            $<%= paystub.takeHome %>
                                        </p>
                                    </td>
                                    <td>
                                        <div class="buttons">
                                            <a class="editButton"
                                                href="/paystub/paystubPrint/<%= paystub._id %>">PDF</a>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>

            </main>
            <%- include('../layouts/footer'); -%>