<%- include('../layouts/header'); -%>
  <link href="/css/editedDetailsPage.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <main>
      <h2>Your Paystub is here!!</h2>
      <table>
        <tr>
          <th>Name: </th>
          <td>
            <%= paystub.employeeName %>
          </td>
        </tr>
        <tr>
          <th>Week-Hours: </th>
          <td>
            <%= paystub.weeklyHours %>
          </td>
        </tr>
        <tr>
          <th>Email: </th>
          <td>
            <%= paystub.email %>
          </td>
        </tr>
        <tr>
          <th>Pay Rate: </th>
          <td>
            <%= paystub.payrate %>
          </td>
        </tr>
        <tr>
          <th>Gross Pay: </th>
          <td>
            <%= paystub.grossPay %>
          </td>
        </tr>
        <tr>
          <th>CPP: </th>
          <td>
            <%= paystub.cpp %>
          </td>
        </tr>
        <tr>
          <th>EI: </th>
          <td>
            <%= paystub.ei %>
          </td>
        </tr>
        <tr>
          <th>Provincial Tax: </th>
          <td>
            <%= paystub.provincialTaxes %>
          </td>
        </tr>
        <tr>
          <th>Federal Tax: </th>
          <td>
            <%= paystub.federalTaxes %>
          </td>
        </tr>
        <tr>
          <th>Net Pay: </th>
          <td>
            <%= paystub.takeHome %>
          </td>
        </tr>
        <tr>
          <th>
            <a href="/paystub/paystubPrint/<%= paystub._id %>" class="editButton"> Download PDF</a>
          </th>
        </tr>
        <tr>
          <th>
            <a href="/paystub" class="button">Go back to Main</a>
          </th>
        </tr>
      </table>
    </main>
    <%- include('../layouts/footer'); -%>