<%- include('../layouts/header'); -%>
  <link href="/css/inventory/addInventory.css" rel="stylesheet">
  </head>

  </head>

  <body>
    <header>
      <h2>Employee Management System</h2>
    </header>
    <h1 id="addItem">Add Item To Inventory</h1>
    <form name="Employee" method="post" action="/inventory/addInventory">
      <div class="textboxes">
        <label>Item Name: </label>
        <input id="itemname" placeholder="Item Name" type="text" name="itemname" class="space"><br />

        <label>Quantity: </label>
        <input id="quantity" placeholder="Quantity" type="number" name="quantity" class="space"><br />

        <label>Rate: </label>
        <input id="rate" placeholder="$25" type="number" name="rate" class="space"><br />

        <label>Added By: </label>
        <input id="addedby" placeholder="Employee Name" type="text" name="addedby" class="space"><br />

        <label>Received Date & Time: </label>
        <input id="receiveddatetime" placeholder="YYYY-MM-DD" type="datetime" name="receiveddatetime"
          class="space"><br />

        <label>Remained Item: </label>
        <input id="remaineditem" type="number" name="remaineditem" class="space"><br />

        <label>Description: </label>
        <input id="description" type="text" name="description" class="space"><br />

        <p id="errors"></p>

      </div>
      <div class="buttons">
        <button class="btnSubmit" id="submit"> Submit </button>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/inventory" id="cancel" class="btnCancel">Cancel </a>
      </div>

    </form>
    <section class="errors">
      <% if(typeof(errors) !='undefined' ){ %>
        <div style="border-radius: 0 25px 0 25px;">
          <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
            <p>
              <%= error.msg %>
            </p>
            <% } } %>
        </div>
        <% } %>
          <% if(typeof(description) !='undefined' ){ %>
            <h2>Inventory</h2>
            <table>
              <tr>
                <th>Item Name: </th>
                <td>
                  <%= itemname %>
                </td>
              </tr>
              <tr>
                <th>Quantity: </th>
                <td>
                  <%= quantity %>
                </td>
              </tr>
              <tr>
                <th>Rate: </th>
                <td>
                  <%= rate %>
                </td>
              </tr>
              <tr>
                <th>Added By: </th>
                <td>
                  <%= addedby %>
                </td>
              </tr>
              <tr>
                <th>Recieved Date & Time: </th>
                <td>
                  <%= receiveddatetime %>
                </td>
              </tr>
              <tr>
                <th>Remained Item: </th>
                <td>
                  <%= remaineditem %>
                </td>
              </tr>
              <tr>
                <th>Description: </th>
                <td>
                  <%= description %>
                </td>
              </tr>
            </table>
            <% } %>
    </section>
  </body>
  <!-- <%- include('../layouts/footer'); -%> -->