<%- include('../layouts/header'); -%>

    <link href="/css/editedDetailsPage.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <main>
            <section class="page">
                <% if(typeof(description) !='undefined' ){ %>
                    <h2>Inventory Data successfully updated!!</h2>
                    <table>
                        <tr>
                            <th>Item Name: </th>
                            <td>
                                <%= itemname %>
                            </td>
                        </tr>
                        <tr>
                            <th>Quantity: </th>
                            <td>
                                <%= quantity %>
                            </td>
                        </tr>
                        <tr>
                            <th>Rate: </th>
                            <td>
                                <%= rate %>
                            </td>
                        </tr>
                        <tr>
                            <th>Added By: </th>
                            <td>
                                <%= addedby %>
                            </td>
                        </tr>
                        <tr>
                            <th>Received Date: </th>
                            <td>
                                <%= receiveddatetime %>
                            </td>
                        </tr>
                        <tr>
                            <th>Remaied Item: </th>
                            <td>
                                <%= remaineditem %>
                            </td>
                        </tr>
                        <tr>
                            <th>Description: </th>
                            <td>
                                <%= description %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="/inventory" class="buttonInventory">Go back to Main</a>
                            </th>
                        </tr>

                    </table>
                    <% } %>
            </section>
        </main>
        <%- include('../layouts/footer'); -%>