<%- include('../layouts/header'); -%>

    <link href="/css/inventory/inventory.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <%- include('../layouts/navigation'); -%>
        <section>
            <main>
                <% if(typeof(message) !='undefined' ){ %>
                    <div class="messages">
                        <% if(locals.message){ %>
                            <%= message%>
                                <% }%>
                                    <% } %>
                    </div>
                <div class="btn">
                    <a href="/inventory/addInventory">
                        <button class="btn">Add Item</button>
                    </a>
                </div>

            <h1 id="itemDetails">Items In Inventory</h1>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Added By</th>
                        <th>Received Date & Time</th>
                        <th>Remaied Item</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var inventory of inventories){ %>
                    <tr>
                        <td>
                            <%= inventory.itemname %>
                        </td>
                        <td>
                            <%= inventory.quantity %>
                        </td>
                        <td>
                            <%= inventory.rate%>
                        </td>
                        <td>
                            <%= inventory.addedby %>
                        </td>
                        <td>
                            <%= inventory.receiveddatetime %>
                        </td>
                        <td>
                            <%= inventory.remaineditem %>
                        </td>
                        <td>
                            <%= inventory.description %>
                        </td>
                        <td>
                            <div class="buttons">
                                <a class="editButton" href="">Edit</a>
                                <a class="deleteButton" href="">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </main>
    </section>
            <%- include('../layouts/footer'); -%>