<%- include('../layouts/header'); -%>

    <link href="/css/table.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
            <h5>
                User: <%= locals.admin ? admin: "Admin" %>
            </h5>
        </header>
        <%- include('../layouts/navigation'); -%>
            <main>
                <section>
                    <% if(typeof(message) !='undefined' ){ %>
                        <div class="messages">
                            <% if(locals.message){ %>
                                <%= message%>
                                    <% }%>
                                        <% } %>
                        </div>

                        <div class="btn">
                            <a href="/attendance/addAttendance">
                                <button class="btn">Take Attendance</button>
                            </a>
                        </div>
                        <h1 id="attendance"> Attendance</h1>

                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Absent/Present</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var attendance of attendances){ %>
                                    <tr>
                                        <td>
                                            <%= attendance.eName %>
                                        </td>
                                        <td>
                                            <%= attendance.date %>
                                        </td>
                                        <td>
                                            <%= attendance.sDay %>
                                        </td>
                                        <td>
                                            <%= attendance.attendance %>
                                        </td>
                                        <td>
                                            <div class="buttons">
                                                <a class="editButton"
                                                    href="/attendance/edit/<%= attendance.id %>">Edit</a>
                                                <a class="deleteButton"
                                                    href="/attendance/delete/<%= attendance._id %>">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                </section>
            </main>
            <%- include('../layouts/footer'); -%>