<%- include('../layouts/header'); -%>

    <link href="/css/editedDetailsPage.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <main>
            <% if(typeof(takeAttendance) !='undefined' ){ %>
                <h2 class="editedAttendance">Attendance successfully updated!!</h2>
                <div class="cardAttendance">
                    <table class="table">
                        <tr>
                            <th>Employee Name: </th>
                            <td>
                                <%= eName %>
                            </td>
                        </tr>
                        <tr>
                            <th>Date: </th>
                            <td>
                                <%= date %>
                            </td>
                        </tr>
                        <tr>
                            <th>Day: </th>
                            <td>
                                <%= sDay %>
                            </td>
                        </tr>
                        <tr>
                            <th>Present/Absent: </th>
                            <td>
                                <%= takeAttendance %>
                            </td>
                        </tr>
                        
                    </table>
                    <div >
                        <a href="/attendance">
                            <button class="button"> Go back to Main</button></a>
                    </div>
                    <% } %>
                </div>
        </main>
        <%- include('../layouts/footer'); -%>